<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <!-- https://github.com/dotnet/cli/issues/3135#issuecomment-220769736 -->
        <add key="globalPackagesFolder" value="./packages" />
    </config>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <!-- <clear/> -->
        <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /> -->
        <!-- <add key="local-packages" value="./nupkg" /> -->
    </packageSources>
</configuration>
