<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    </configSections>
    <!--schema reference: https://msdn.microsoft.com/en-us/library/ff660914.aspx-->
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="di_demo" />
        <namespace name="DotNetCoreBootstrap.DIDemo" />
        <assembly name="Microsoft.Extensions.Logging.Abstractions" />
        <namespace name="Microsoft.Extensions.Logging" />
        <container>
            <register type="IDemoClass" mapTo="DemoClass" name="design_time_register">
                <constructor>
                    <param name="logger" dependencyType="ILogger[DemoClass]" />
                    <param name="name" dependencyType="string" />
                    <param name="value" dependencyType="string" />
                </constructor>
            </register>
        </container>
    </unity>
</configuration>