<configuration>
    <!--schema reference: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/-->
    <configSections>
        <section name="demoSection1" type="DotNetCoreBootstrap.ConfigDemo.ConfigurationManagerDemo+DemoConfigurationSection, config_demo" />
        <section name="demoSection2" type="DotNetCoreBootstrap.ConfigDemo.ConfigurationManagerDemo+DemoConfigurationSection, config_demo" />
        <sectionGroup name="demoSectionGroup" type="DotNetCoreBootstrap.ConfigDemo.ConfigurationManagerDemo+DemoConfigurationSectionGroup, config_demo">
            <section name="demoSection3" type="DotNetCoreBootstrap.ConfigDemo.ConfigurationManagerDemo+DemoConfigurationSection, config_demo" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="str_setting_1" value="str_value_1"/>
    </appSettings>
    <demoSection1 sectionDescription="demo_section_description_1">
        <demoElement name="demo_element_name_1" value="demo_element_value_1" />
    </demoSection1>
    <demoSection2 sectionDescription="demo_section_description_2">
        <demoElementsCollection>
            <add name="demo_sub_element_name_2_1" value="demo_element_value_2_1" />
            <add name="demo_sub_element_name_2_2" value="demo_element_value_2_2" />
        </demoElementsCollection>
    </demoSection2>
    <demoSectionGroup>
        <demoSection3 sectionDescription="demo_section_description_3"/>
    </demoSectionGroup>
</configuration>